p{
    color:red;
    font-family: 'Roboto', sans-serif;
}
h2{
    color: rgb(32, 0, 0);
    /*font-family: 'Roboto', sans-serif;
    line-height: 20px;
    font-weight: 600;
    font-size: 40px;
    font-style: italic;
    font-variant: small-caps;*/
    
    
    font: italic small-caps 600 40px/20px 'Roboto', sans-serif;
}

body{
    height: 10000px;
}
html{
    font-size: 20px;
}
