*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    /*font-family: 'Noto Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;  
    color: black;
    overflow-x: hidden;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}




/*header*/
.header{

}
.header-top{

}

/*header-top-menu*/
.header-top ul.header-top-menu{
    padding-top: 26px;
    float: left;
    margin-right: 76px;
}
.header-top ul.header-top-menu li{
    float: left;
    margin-right: 26px;
}
.header-top ul.header-top-menu li a{
    font-family: "Noto Sans" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}



/*header-top-icons*/
.header-top-icons{
    float: right;
    padding-top: 24px;
}
.header-top-icons li{
    float: left;
    margin-right: 24px;
}
.header-top-icons li:nth-child(3){
    margin-right: 45px;
}
.header-top-icons li:last-child img{
    margin-right: 8px;
}
.header-top-icons li:last-child span{
    vertical-align: 7px;
}



/*.phone*/
.header-top .phone{
    padding-top: 24px;
}
.header-top .phone span{
    vertical-align: 7px;
    margin-left: 8px;
}



/*header-search*/
.header-search .search{
    float: left;
    background: #F9F9F9;
    border-radius: 8px;
    width: 702px;
    height: 52px;
    margin-top: 51px;

    position: relative;
}
.header-search img[alt="humb"]{
    float: left;
    margin-top: 65px;
    margin-right: 45px;
}
.header-search img[alt="logo"]{
    float: left;
    margin-top: 36px;
    margin-right: 45px;
}
.header-search .search input{
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 55px;
}
.header-search .search img{
    position: absolute;
    left: 15px;
    top: 15px;
}
.header-search button{
    float: right;
    width: 156px;
    height: 52px;
    background: #81B43F;
    border-radius: 8px;
    border: none;
    margin-top: 52px;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
.header-search button span:first-child{
    display: inline-block;
    height: 28px;
    border-right: 1px solid #FFFFFF;
    padding-right: 14px;
    vertical-align: sub;
}
.header-search button span:last-child{
    margin-left: 14px;
    vertical-align: sub;
}


/*header-bottom-menu*/
.header-bottom-menu{
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 24px;
    margin-left: 239px;
}
.header-bottom-menu li{
    float: left;
    margin-right: 29px;
}
.header-bottom-menu li.active{
    color: #FF715B;
}



/*sale*/
.sale{
    height: 381px;
    background: url(../img/elka.jpg) no-repeat center;
    background-size: cover;
    margin-top: 37px;
    padding-top: 77px;
}
.sale-red-block{
    width: 511px;
    height: 226px;
    background: #FF715B;
    float: right; 
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    color: white;
    text-align: center;
}
.sale-red-block h1 span:first-child{
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    display: block;
    padding-top: 41px;
}
.sale-red-block h1 span:nth-child(2){
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    display: block;
}
.sale-red-block h1 span:last-child{
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    display: block;
}


/*filters*/
.filters{
    height: 83px;
    border-left: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    width: 272px;
    float: left;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding-top: 28px;
}
.filters img{
    margin-left: 83px;
    margin-right: 8px;
}
.filters span{
    vertical-align: 4px;
}
.filters-wrap ul{
    float: right;
    margin-top: 32px;
}
.filters-wrap ul li{
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    float: left;
    margin-right: 64px;
}
.filters-wrap ul li:last-child{
    margin-right: 0px;
}
.filters-wrap ul li:hover{
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid #FF715B;
}



/*catalog*/
.catalog{
    background: #F9F9F9;
    padding-top: 66px;
    padding-bottom: 50px;
}

/*.catalog-breadcrumbs*/
.catalog-breadcrumbs{
    float: left;
    width: 620px;
}
.catalog-breadcrumbs ul li{
    float: left;
}
.catalog-breadcrumbs ul li a{
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
}
.catalog-breadcrumbs ul li img{
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: -2px;
}
.catalog-breadcrumbs ul li a.active{
    color: black;
}
.catalog-breadcrumbs h2{
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;    
}
.catalog-breadcrumbs h2 span{
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 19px;
}

/*.catalog-sort*/
.catalog-sort{
    float: right;
}
.catalog-sort ul{
    margin-bottom: 16px;
}
.catalog-sort ul li{
    float: left;
    margin-right: 14px;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.catalog-sort ul li:first-child{
    margin-right: 17px;
    color: black;
}
.catalog-sort ul li:last-child{
    margin-right: 0px;
}
.catalog-sort img{
    float: right;
    margin-left: 16px;
}



/*elki items*/

.item{
    width: 272px;
    height: 387px;
    border-radius: 8px;
    background: url(../img/heart.svg) right 20px top 20px no-repeat #FFFFFF;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 16px;
    float: left;
    margin-right: 8px;
    margin-left: 8px;
}
.catalog-items{
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 28px;
}
.items-img{
    text-align: center;
}
.items-img img{
    
    padding-top: 16px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.stars span:not(.text){
    height: 9px;
    width: 9px;
    display: inline-block;
}
.stars span:not(.empty):not(.text){
    background: url(../img/star_1.svg) no-repeat;
}
.stars span.empty{
    opacity: 0.3;
    background: url(../img/star_2.svg) no-repeat;
    margin-right: 7px;
}
.stars span.text{
    font-family: "Noto Sans", sans-serif;
    font-size: 10px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.5);
}
.catalog h5{
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
}
.catalog p{
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2px;
}
.catalog h4{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
.item .basket{
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background: url(../img/basket.jpg) center no-repeat #81B43F ;
    background-size: 25px;
    float: right;
    margin-top: -24px;
}



/*christmas-toys*/
.christmas-toys{
    background: url(../img/fon.png) center no-repeat;
    height: 209px;
    background-size: cover;
    padding-top: 51px;
    padding-left: 136px;    
}
.christmas-toys h4{
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 12px;
}
.btn{
    height: 47px;
    border: px solid black;
    border-radius: 5px;
    padding-left: 24px;
    padding-right: 24px;
 
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    background: transparent;
}

/*последняя кнопка*/
.catalog .container > .btn{
    margin-top: 36px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.catalog .container > p{
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 35px;
}



/*footer*/
.footer{
    padding-top: 56px;
    padding-bottom: 28px;
    background: rgba(218, 218, 218, 0.3);

}
.footer .container ul{
    float: left;
}
.footer .container ul:first-child{
    margin-right: 126px;
}
.footer .container ul:nth-child(2){
    margin-right: 110px;
}
.footer .container ul:nth-child(3){
    margin-right: 91px;
}
.footer .container ul li:first-child{
    margin-bottom: 12px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
.footer .container ul li{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 8px;
}
.footer .social{
    text-align: center;
    margin-top: 77px;
}
.footer .social img{
    margin-left: 9px;
    margin-right: 9px;
}
.footer p{
    text-align: center;
    margin-top: 20px;
    font-family: "Noto Sans", sans-serif;
    font-size: 10px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.5);
}


 




























