@import "variable";

@media all and (max-width: 1224px){

.header{
    .container{
        width: $container-900;

        .header_top{
            div{
                &:first-child{
                    margin-right: 30px; 
                }
                &:nth-child(2){
                    margin-right: 30px;
                }
                &:last-child{
                    margin-right: 0px;
                }

            }
        }


        .header_bottom{
            p {
                margin-right: 0px;
                font-size: $fs18;
                line-height: 24px;
            }
            
            ul{
                li{
                    margin-right: 13px;
                }
            }

            .messengers{
                a{
                    img{
                        margin-right: 5px;
                    }

                    &:last-child{
                        img{
                            margin-right: 0px;
                        }

                    }
                }
            }
        }
    }
}

.slider{
    .container{
        width: $container-900;
        padding-left: 25px;

        div{
           input{
            width: 190px;
            } 
            img{
                left: 160px;
            }
            p{
                &:first-child{
                    padding-right: 50px;
                }
                &:nth-child(2){
                    padding-right: 50px;
                }
                &:last-child{
                    padding-right: 345px;
                } 
            } 
        }  
        .button{
            width: 140px;
            height: 36px;
            margin-right: 27px;
        } 
       
    }
}

.about_hotel{
    .container{
        width: $container-900;

        .rooms{
            div{
                width: 440px;
            
                ul{
                    padding-left: 10px;
                }

                &:last-child{
                    ul{
                        li{
                            &:nth-child(2){
                                font-size: $fs12;
                            }
                        }
                    }
                }

        }
        }

        .description{
            width: $container-900;

            img{
                padding-right: 20px;
            }

            div{
                line-height: 16px;
            }
        }

        .review{
                width: $container-900;
            }


    }
}

.footer{
    .footer_top{
        .container{
            width: $container-900;
            .geolocation{
                img{
                    margin-right: 15px;
                }
            }

            .contacts{
                ul{
                    li{
                        margin-right: 20px;
                        a{
                            img{
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }

            .weather{
                .messengers{
                    a{
                        img{
                            margin: 20px 3px 0 0;
                        }
                    }
                    
                }
            }
        }
    }
}


}

@media all and (max-width: 920px){
    .header{
        .container{
            width: $container-600;
            height: auto;
        
            .header_top{
                flex-wrap: wrap;
                div{
                    img{
                        margin-right: 5px;
                    }

                    &:first-child{
                        margin-right: 0px; 
                    }
                    &:nth-child(2){
                        margin-right: 0px;
                    }
                    &:last-child{
                        margin-left: 78%;
                    }
                }
            }
    
            .header_bottom{
                flex-wrap: wrap;
                p {
                    font-size: $fs16;
                    line-height: 17px;
                    margin-top: 20px;
                }    
                ul{
                    order: 2;
                    li{
                        margin-top: 20px;
                    }
                }

                .messengers{
                    a{
                        img{
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }

    //ДОДЕЛАТЬ
    .slider{
        margin-top: 20px;

        .container{
            width: $container-600;
            height: auto;

            ul{
                flex-wrap: wrap;
                li{
                    
                &:last-child{
                    order: 2;
                    margin-right: 20px;
                }
                }
            }

            .data{
                flex-wrap: wrap;
                input{
                    &:first-child{
                        order: 3;
                    }
                }
            }
        }
    }

    .about_hotel{
        .container{
            width: $container-600;
            height: auto;

            .rooms{
                div{
                    width: 600px;
                    margin: 0;
                    &:first-child, &:nth-child(3){
                        margin-right: 0px;
                    }
                    &:nth-child(3){
                        margin-bottom: 24px;
                    }
                    &:last-child{
                        ul{
                            li{
                                &:nth-child(2){
                                    font-size: $fs14;
                                }
                            }
                        }
                    }

                    ul{
                        padding-left: 35px;
                    }
                }
            }

            .description{
                width: $container-600;
                flex-wrap: wrap;
                text-align: center;

                img{
                    padding-bottom: 25px;
                }
            }

            .review{
                width: $container-600;
                height: 140px;

                &::before{
                    left: 45%;
                }
            }
        }
    }

    .footer{
        .footer_top{
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            .container{
                width: $container-600;
                flex-wrap: wrap;

                h3{
                margin-top: 20px;
                }

                .geolocation{
                    img{
                        margin-right: 30px;
                    }
                }

                .contacts{   
                    ul{
                        margin-top: 31px;
                        li{
                            margin-right: 0px;
                            padding-bottom: 7px;
                            a{
                                img{
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media all and (max-width: 625px){
    .header{
        .container{
            .header_top{
                display: none;
            }

            .header_bottom{
                ul, div{
                    display: none;
                }
                p{
                    text-align: center;
                    margin: 5px auto 5px auto;
                }
            }

    
    }

    }

    .slider{
        
    }
    
}

