//colors
$input_blue: #3F8CFF;
$input_yellow: #FFB23F;
$footer_light: #777777;
$footer_black: #626262;
$blue: #3F8CFF;
$gray: #585858;
$gray_dark: #1E1E1E;
$gray_light: #777777;
$white: #FFFFFF;
$fon_light: #FAFAFA;
$border_gray: #D9D9D9;
$background: #F9F9F9;



//fonts
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs24: 24px;
$fs26: 26px;
$fs30: 30px;


$ff: 'Montserrat', sans-serif;


$font_light: 400;
$font_normal: 500;
$font_semibold: 600;
$font_bold: 800;


//media
$container-width: 1224px;
$container-width2: 1094px;
$container-900: 900px;
$container-600: 600px;
$container-414: 414px;

